.arrow{
	-fx-background-color: transparent;
	-fx-padding: 0px;
	-fx-label-padding: 0px;
}

.arrow:hover{
	-fx-text-fill: #D1D1D1;
}

.menu{
	-fx-background-color: transparent;
	-fx-text-fill: #D1D1D1;
}

.menu:hover{
	-fx-text-fill: white;
	-fx-alignment: BASELINE_LEFT;
}

.new{
	-fx-background-color: transparent;
	-fx-text-fill: #D1D1D1;
	-fx-alignment: BASELINE_LEFT;
}

.new:hover{
	-fx-text-fill: white;
	-fx-alignment: CENTER;
}

.settings{
	-fx-background-color: transparent;
	-fx-image: url('/icons/settings.png');
	-fx-padding: 0px;
}

.settings:hover{
	-fx-background-color: transparent;
	-fx-background-size: 30px;
	-fx-background-repeat: no-repeat;
    -fx-background-position: 90%;
	-fx-background-image: url('/icons/hoversettings.png');

	-fx-padding: 0px;
}

.menuTop:hover{
	-fx-text-fill:  #00FF00;
	-fx-text-size: 27px;
}





