
.filter-button:hover{
	-fx-background-image: url('../icons/filterHover.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size: 30 30;
	-fx-background-color: transparent;
	-fx-padding: 0px;
}



.filter-button{
	-fx-background-image: url('../icons/filter.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size: 30 30;
	-fx-background-color: transparent;
	-fx-padding: 0px;
}






.filter:hover AnchorPane Circle{
	-fx-fill: #e3e1e1;
	-fx-stroke: #e3e1e1;
}

.filter-toggle-button:selected{
	-fx-background-image: url('../icons/toggleOn.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size: 53 24;;
	-fx-background-color: transparent;
	-fx-padding: 0px;
}

.filter-toggle-button{
	-fx-background-image: url('../icons/toggleOff.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size: 53 24;
	-fx-background-color: transparent;
	-fx-padding: 0px;
}



.filter-choice-box {
	-fx-border-color: white;
	-fx-background-color: transparent;
    -fx-pref-width: 69;
    -fx-pref-height: 27;
    -fx-mark-color: white;
}

.filter-choice-box .context-menu {
    -fx-pref-width: 69; /* Your width for the context menu background shown */
    -fx-background-color: #6b6b69;
    -fx-text-fill: white;

}


.filter-choice-box .label {
     -fx-text-fill: white; 
     -fx-font-size: 13px;
}


.filter-choice-box .context-menu .label {
    -fx-text-fill: white;
    -fx-font-size: 13px;
}








.subjectLabel{
	-fx-text-fill: white;
	-fx-font-family: Inter-Semi-Bold;
	-fx-font-size: 18px;
}



/* The main scrollbar CSS class of ListView */
.mylistview .scroll-bar:horizontal ,
.mylistview  .scroll-bar:vertical{
    -fx-background-color:transparent;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;

 
}
 
/* The increment and decrement button CSS class of scrollbar */
.mylistview .increment-button ,.mylistview .decrement-button {
    -fx-background-color:transparent;
	-fx-border-color:transparent;
	-fx-border-width: 0px;
}
 
/* The main scrollbar **track** CSS class  */
.mylistview .scroll-bar:horizontal .track ,
.mylistview .scroll-bar:vertical .track{
     -fx-background-color: transparent;
	 -fx-border-color:transparent;
	 -fx-background-radius: 5px;
	 -fx-border-radius: 5px;
	}
 
/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.mylistview .scroll-bar:horizontal .thumb,
.mylistview .scroll-bar:vertical .thumb {
    /*-fx-background-color:derive(grey,70%); */
    -fx-background-color:transparent;
	-fx-background-insets: 0, 0, 0;
	-fx-background-radius: 5px;
	-fx-border-radius: 5px;
}


.mylistview .corner {
    -fx-background-color: transparent;
}



/* The main scrollbar **track** CSS class on event of "hover" and "pressed" */
 
.mylistview .scroll-bar:horizontal:hover .track ,
.mylistview .scroll-bar:horizontal:pressed .track ,
.mylistview .scroll-bar:vertical:hover .track,
.mylistview .scroll-bar:vertical:pressed .track{
     /*-fx-background-color: derive(#434343,20%); */
	 -fx-opacity: 0.2;
	 -fx-background-radius: 0em;
	 -fx-background-color:transparent;
 
}
 
/* The main scrollbar **thumb** CSS class on event of "hover" and "pressed" */

.mylistview .scroll-bar .thumb:hover,
.mylistview .scroll-bar .thumb:pressed{
    /*-fx-background-color: derive(black,50%);*/
    -fx-background-color:transparent;
}
 
.mylistview .increment-button:hover ,.mylistview .decrement-button:hover {
	/*-fx-border-color:derive(gray,80%);
	-fx-text-fill: derive(gray,80%);*/

}

.mylistview{
	-fx-padding: 0px;
	-fx-background: transparent;
}





.arrow{

	-fx-background-color: transparent;
	-fx-padding: 0px;
	-fx-label-padding: 0px;
	-fx-text-fill: white;

}



.arrow:hover{
	-fx-text-fill: #D1D1D1;
}

.arrow:pressed{
	-fx-text-fill: white;
}



.book{
	-fx-background-color: transparent;
	-fx-padding: 0px;
	-fx-background-image: url('../icons/book.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size: 50 69;
}


.image{
	-fx-background-color: transparent;
	-fx-padding: 0px;
	-fx-background-image: url('../icons/image.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size: 50 69;
}

.text{
	-fx-background-color: transparent;
	-fx-padding: 0px;
	-fx-background-image: url('../icons/text.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size: 50 69;
}


.labelName{
	-fx-font-family:Inter-Medium;
	-fx-font-size: 16px;
	-fx-text-fill: white;
}






.search:hover Circle{
	-fx-stroke: green;
}


.search:hover Line{
	-fx-stroke: green;
}








.title:hover{
	-fx-text-fill: grey;
}

.title:selected, .title{
	-fx-text-fill: white;
}



