.toggle:selected .tick{
	-fx-text-fill: white;
}

.toggle:selected .included{
	-fx-text-fill: white;
}


.toggle:selected .excluded{
	-fx-text-fill: transparent;
}

.toggle .included{
	-fx-text-fill: transparent;
}


.toggle .excluded{
	-fx-text-fill: white;
} 




.toggle .tick{
	-fx-text-fill: transparent;
}


.toggle{
	-fx-background-color: transparent;
}


.toggle .cross{
	-fx-text-fill: white;
}


.toggle:selected .cross{
	-fx-text-fill: transparent;
}


.toggle .inner {
	-fx-background-color: red;
	-fx-background-radius: 4px;
	-fx-border-radius: 4px;
}

.toggle:selected .inner {
	-fx-background-color: green;
}



.done:hover{
	-fx-background-color: white;
	-fx-text-fill: green;
}

.done{
	-fx-background-color: green;
	-fx-text-fill: white;
	-fx-padding: 0px;
	-fx-border-radius: 10px;
	-fx-background-radius: 10px;
}

.add{
	-fx-background-color: transparent;
	-fx-padding: 0px;
}

.add:hover{
	-fx-background-color: #5cff8a;
	-fx-padding: 0px;
}





.comp{
	-fx-stroke: white;
}

.comp2{
	-fx-stroke: white;
}


.listcell{
	-fx-background-color: transparent;
	-fx-background: transparent;
}




.mylistview .list-cell:filled:selected:focused, .mylistview .list-cell:filled:selected {
  
    -fx-background-color: grey;
}


.mylistview .list-cell:filled:hover {
    -fx-background-color: grey;
}


.mylistview .list-cell:even {
	-fx-background-color: transparent;
}


.mylistview .list-cell:odd {
	-fx-background-color: transparent;
}


.mylistview .list-cell Button {
	-fx-text-fill: white;
}

.mylistview .list-cell Label {
	-fx-text-fill: white;
}

.mylistview .list-cell ChoiceBox {
	-fx-text-fill: white;
}


/*

.pageButton:hover .comp Polygon Label Line{
	-fx-stroke: green;
	-fx-fill: green;
}


.pageButton:hover .comp2 Circle{
	-fx-stroke: green;
}
*/

.pageButton:hover Polygon{
	-fx-stroke: green;
	-fx-fill: green;
}

.pageButton:hover Line{
	-fx-stroke: green;
	-fx-fill: green;
}

.pageButton:hover Circle{
	-fx-stroke: green;
}

.pageButton Polygon Label Line{
	-fx-stroke: white;
	-fx-fill: white;
}

.pageButton Circle{
	-fx-stroke: white;
}



/* The main scrollbar CSS class of ListView */
.imageScroll .scroll-bar:horizontal ,
.imageScroll .scroll-bar:vertical{
    -fx-background-color:transparent;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
 
}



 
/* The increment and decrement button CSS class of scrollbar */
.imageScroll .increment-button , .imageScroll .decrement-button {
    -fx-background-color:transparent;
	-fx-border-color:transparent;
	-fx-border-width: 0px;
}
 
/* The main scrollbar **track** CSS class  */
.imageScroll .scroll-bar:horizontal .track ,
.imageScroll .scroll-bar:vertical .track{
     -fx-background-color: transparent;
	 -fx-border-color:transparent;
	 -fx-background-radius: 5px;
	 -fx-border-radius: 5px;
	}
 
/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.imageScroll .scroll-bar:horizontal .thumb,
.imageScroll .scroll-bar:vertical .thumb {
    -fx-background-color:derive(grey,70%);
	-fx-background-insets: 0, 0, 0;
	-fx-background-radius: 5px;
	-fx-border-radius: 5px;
}
 
/* ------------------------------------------------------------------------------------- */
/** EVENT CSS **/
/* ------------------------------------------------------------------------------------- */
 
/* The main scrollbar **track** CSS class on event of "hover" and "pressed" */
 
.imageScroll .scroll-bar:horizontal:hover .track ,
.imageScroll .scroll-bar:horizontal:pressed .track ,
.imageScroll .scroll-bar:vertical:hover .track,
.imageScroll .scroll-bar:vertical:pressed .track{
     -fx-background-color: derive(#434343,20%);
	 -fx-opacity: 0.2;
	 -fx-background-radius: 0em;
 
}
 
/* The main scrollbar **thumb** CSS class on event of "hover" and "pressed" */

.imageScroll .scroll-bar .thumb:hover,
.imageScroll .scroll-bar .thumb:pressed{
    -fx-background-color: derive(black,50%);
}
 
.imageScroll .increment-button:hover , .imageScroll .decrement-button:hover {
	-fx-border-color:derive(gray,80%);
	-fx-text-fill: derive(gray,80%);

}

.imageScroll .corner {
    -fx-background-color: transparent;
}


.combo-box .arrow{
    /* -fx-background-color:  #575757; */
    -fx-background-color: white;
}
.combo-box .arrow-button{
    /* -fx-background-color:  #575757 ;
    /* -fx-background-color: grey; */

}

.combo-box{
    /* -fx-background-color:  #575757; */
    -fx-border-color: #575757;
    -fx-background-color: transparent; 
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
}



.combo-box .list-cell:odd , .combo-box .list-cell:even{
    /* -fx-background-color:  #575757; */
    -fx-background-color: #575757;
}

.cell-button .label:hover {
	-fx-text-fill: #bfbcbb;
}


.cell-button .label {
	-fx-text-fill: white;
}


.cell-button{
	-fx-padding: 0px;
	-fx-background-color: transparent;
}


.tagToggle{
	-fx-padding: 0px;
	-fx-background-color: transparent;
}


.tagToggle:selected .nonSelectedLabel{
	-fx-text-fill: transparent;
}


.tagToggle:selected .selectedLabel{
	-fx-text-fill: #d1cfcf;
}

.tagToggle .nonSelectedLabel{
	-fx-text-fill: #d1cfcf;
}

.tagToggle .selectedLabel{
	-fx-text-fill: transparent;
}



.mylistview{
	-fx-background-color: transparent;
	-fx-background: transparent;
}


/* The main scrollbar CSS class of ListView */
.mylistview .scroll-bar:horizontal ,
.mylistview  .scroll-bar:vertical{
    -fx-background-color:transparent;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;


}

/* The increment and decrement button CSS class of scrollbar */
.mylistview .increment-button ,.scroll-pane .decrement-button {
    -fx-background-color:transparent;
    -fx-border-color:transparent;
    -fx-border-width: 0px;
}

/* The main scrollbar **track** CSS class  */
.mylistview .scroll-bar:horizontal .track ,
.mylistview .scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color:transparent;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.mylistview .scroll-bar:horizontal .thumb,
.mylistview .scroll-bar:vertical .thumb {
    /*-fx-background-color:derive(grey,70%); */
    -fx-background-color: derive(black,50%);
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}

.mylistview StackPane {
    -fx-background-color: transparent;
}

.mylistview Button {
    -fx-background-color: transparent;
    -fx-text-fill: transparent;
}


/* The main scrollbar **track** CSS class on event of "hover" and "pressed" */

.mylistview .scroll-bar:horizontal:hover .track ,
.mylistview .scroll-bar:horizontal:pressed .track ,
.mylistview .scroll-bar:vertical:hover .track,
.mylistview .scroll-bar:vertical:pressed .track{
    -fx-background-color: derive(black,40%);
    -fx-opacity: 0.2;
    -fx-background-radius: 0em;
    -fx-background-color:transparent;

}

/* The main scrollbar **thumb** CSS class on event of "hover" and "pressed" */

.mylistview .scroll-bar .thumb:hover,
.mylistview .scroll-bar .thumb:pressed{
    /*-fx-background-color: derive(black,50%);*/
    -fx-background-color: derive(black,40%);
}

.mylistview .increment-button:hover ,.scroll-pane .decrement-button:hover {
    /*-fx-border-color:derive(gray,80%);*/
    -fx-text-fill: derive(white,10%);
    -fx-background-color: derive(rgb(43, 43, 43),50%);

}

.mylistview .scroll-pane{
    -fx-padding: 0px;
    -fx-background: rgb(43, 43, 43);
    -fx-background-color: rgb(43, 43, 43);
}








