/* CREATE AND CANCEL BUTTONS */
.next{
	-fx-background-radius: 20px;
	-fx-border-radius: 20px;
	-fx-padding: 0px;
	-fx-border-width: 0px;
	-fx-background-color: #3c8739;
}

.next:hover{
	-fx-background-radius: 20px;
	-fx-border-radius: 20px;
	-fx-padding: 0px;
	-fx-border-width: 0px;
	-fx-background-color: #41943d;
}

.quit{
	-fx-background-radius: 20px;
	-fx-border-radius: 20px;
	-fx-padding: 0px;
	-fx-border-width: 0px;
	-fx-background-color: grey;
}

.quit:hover{
	-fx-background-radius: 20px;
	-fx-border-radius: 20px;
	-fx-padding: 0px;
	-fx-border-width: 0px;
	-fx-background-color: #989898;
}

.prompt-pane{
	-fx-background-radius: 25px;
	-fx-border-radius: 25px;
	-fx-padding: 0px;
	-fx-border-width: 1px;
	-fx-background-color:  #70AD47;
}

.prompt-left-pane{
	-fx-background-color:  #70AD47;
}

.prompt-note{
	-fx-background-color: transparent;
	-fx-padding: 0px;
}

.prompt-note:hover .prompt-pane, .prompt-note:hover .prompt-left-pane{
	-fx-background-color:  #66a13f;
}

.setToAnswer{
	-fx-background-radius: 20px;
	-fx-border-radius: 20px;
	-fx-padding: 0px;
	-fx-border-width: 0px;
	-fx-background-color: #3c8739;
}

.setToAnswer:hover{
	-fx-background-radius: 20px;
	-fx-border-radius: 20px;
	-fx-padding: 0px;
	-fx-border-width: 0px;
	-fx-background-color: #41943d;
}



.answer{
	-fx-background-radius: 10px;
	-fx-border-radius: 10px;
	-fx-padding: 5px;
	-fx-border-width: 0px;
	-fx-background-color: #70AD47;
	-fx-font-family: Inter-Medium;
	-fx-font-size: 15;
}

.answer:hover{
	-fx-background-color: #66a13f;
}

.all{
	-fx-background-radius: 10px;
	-fx-border-radius: 10px;
	-fx-padding: 5px;
	-fx-border-width: 0px;
	-fx-background-color: #3c8739;
	-fx-font-family: Inter-Medium;
	-fx-font-size: 15;
}

.all:hover{
	-fx-background-color: #41943d;
}


.star{
	-fx-background-image: url('../icons/star.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size: 30 30;
	-fx-background-color: transparent;
	-fx-padding: 0px;
}

.star:selected{
	-fx-background-image: url('../icons/starFill.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size: 30 30;
	-fx-background-color: transparent;
	-fx-padding: 0px;
}

.select-idea{
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-mark-color: white;
}

.select-time{
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-mark-color: white;
	-fx-pref-size: 30px;
}


.select-idea > .label,  .select-time > .label{ 
	-fx-text-fill: white; 
	-fx-font-size: 18px; 
	-fx-font-family: Inter-Semi-Bold;
}


.select-idea .context-menu .label, .select-time .context-menu .label {
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-font-family: Inter-Semi-Bold;

}

.select-idea .context-menu, .select-time .context-menu{
   -fx-background-color: #4d4f4d;
}

.select-idea .menu-item:focused, .select-time .menu-item:focused {
    -fx-background-color: #858585;
}

.custom-quiz-toggle-button:selected{
	-fx-background-image: url('../icons/toggleOn.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size: 80 36;
	-fx-background-color: transparent;
	-fx-padding: 0px;
}

.custom-quiz-toggle-button{
	-fx-background-image: url('../icons/toggleOff.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size: 80 36;
	-fx-background-color: transparent;
	-fx-padding: 0px;
}

.custom-slider .track {
    -fx-pref-height:10;
    -fx-background-color: #5EE683;
}

.custom-slider:vertical .track {
    -fx-pref-width:10;
}

.custom-slider .thumb {
    -fx-pref-height: 12;
    -fx-pref-width: 12;
    -fx-background-color: white;
}

.range-slider .track {
    -fx-pref-height: 10;
    -fx-background-color: grey;
}

.range-slider .range-bar {
	-fx-pref-height:10;
    -fx-background-color: #5EE683;
}

.range-slider:vertical .track {
    -fx-pref-width:10;
}

.range-slider .low-thumb, .range-slider .high-thumb {
    -fx-pref-height: 12;
    -fx-pref-width: 12;
    -fx-background-color: white;
}

.quiz-progress{
	-fx-accent: green;
}

.quiz-progress > .track {
  -fx-text-box-border: transparent;
  -fx-control-inner-background: transparent;
}


.quiz-title:hover{
	-fx-text-fill: #00661b;
}


.quiz-title:selected{
	-fx-text-fill: #07ff02;
}

.quiz-title {
	-fx-text-fill: #07ff02;
}


.idea-label {
	-fx-text-fill: white;
}

.idea-label:hover {
	-fx-text-fill: #d9d9d9;
}


.hover-label {
	-fx-text-fill: #a8a8a8;
}

.hover-label:hover {
	-fx-text-fill: white;
}





